.header_top {
    background: #fe980f;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
    background: inherit;
}

.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

.header-middle .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
    width: 30%;
}
/*.header-middle .container.row .col-sm-3{*/
/*    margin-top: 100px;*/
/*}*/

.header-middle .container .row .col-sm-8 {
    padding-left: 0px;
}